<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.8.2/devicon.min.css">
  <script src="https://unpkg.com/feather-icons"></script>
  <title>Katie Jablonski</title>
</head>
<body>
  <main>
    <h2>KATIE JABLONSKI</h2>
    <nav>
      <ul class="links">
        <a href="#portfolio" class="nav-link">
          <li>Portfolio</li>
        </a>
        <a href="#contact" class="nav-link">
          <li>Contact</li>
        </a>
        <a href="./images/resume.pdf" target="_blank" class="nav-link">
          <li>Resume</li>
        </a>
      </ul>
      <div class="dropdown">
        <button onclick="myFunction()"><i data-feather="menu"></i></button>
        <div id="myDropdown" class="dropdown-content">
          <a href="#portfolio">Portfolio</a>
          <a href="#contact">Contact</a>
          <a href="./images/resume.pdf" target="_blank" rel="noreferrer">Resume</a>
        </div>
      </div>
    </nav>
      <p class="pitch">I'm a Full Stack Software Engineer that focuses on writing clean and efficient code.
      I enjoy turning complex problems into simple, beautiful and intuitive designs. When I'm not coding you'll find me creating new knitting designs or walking my rescue dog, Dax.
      </p>
      <img class="cartoon" src="./images/cartoon.png" />
    </main>
    <section class="portfolio" id="portfolio">
      <h3 class="title">Portfolio</h3>
      <p class="instructions">Click Project to Learn More</p>
      <div id="flashcard-app" class="container">
        <ul class="flashcard-list">
          <li v-on:click="toggleCard(card)" v-for="(card, index) in cards">
            <transition name="flip">
              <div v-if="!card.flipped" key="front" class="card">
                <p class="card-title">{{card.title}}</p>
                <img v-bind:src="card.frontImg" class="card-img" />
                <p>Technologies Used:</p>
                <ul class="devicon-list">
                  <li v-for="icon in card.stack"><i v-bind:class='icon'></i></li>
                </ul>
              </div>
              <div v-else key="back" class="card">
                <p class="card-title">{{card.title}}</p>
                <p class="synopsis">{{card.summary}}</p>
                <a v-bind:href="card.demoLink" target='_blank' rel="noreferrer">
                  <div class="btn">Live Demo</div>
                </a>
                <a v-bind:href="card.frontendLink" target="_blank" rel="noreferrer">
                  <div class="btn secondary">Source Code</div>
                </a>
                <a v-bind:href="card.backendLink" target="_blank" rel="noreferrer">
                  <div v-show="card.backendLink" class="btn secondary">Backend Source Code</div>
                </a>
              </div>
            </transition>
          </li>
        </ul>
      </div>
    </section>
    <section class="contact" id="contact">
        <h3 class="title">Contact</h3>
        <h2>Let's work together to build something awesome</h2>
        <a href="mailto:kjablonski08@gmail.com" class="contact-icon"><i data-feather="mail" ></i> kjablonski08@gmail.com</a>
        <p class="contact-icon"><i data-feather="phone" ></i> (585) 230-8767</p>
        <br/><br/>
    </section>
    <footer>
      <div class="top icons">
        <a href='#top'><i data-feather="chevron-up" class="icon"></i></a>
      </div>
      <div class="icons">
        <hr />
        <a href="https://www.linkedin.com/in/katie-jablonski/" target="_blank" rel="noreferrer"><i data-feather="linkedin"
            class="icon"></i></a>
        <a href="https://github.com/KJablonski08" target="_blank" rel="noreferrer"><i data-feather="github" class="icon"></i></a>
        <a href="https://www.instagram.com/jadiek08/" target="_blank" rel="noreferrer"><i data-feather="instagram"
            class="icon"></i></a>
        <a href="https://codepen.io/katie-jablonski"><i data-feather="codepen" class="icon"></i></a>
      </div>
    </footer>
    <script>
      feather.replace()
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
    <script src="./index.js"></script>
  </body>
</html>