@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&display=swap');
body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #f4f3ee;
	margin: 0;
	color: #463f3a;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
}

h2 {
	grid-column: 1 / span 2;
}

nav {
	grid-column: 3;
	align-self: center;
	justify-self: end;
	width: 80%;
}

ul {
	display: none;
}

@media only screen and (min-width: 800px) {
	ul {
		display: block;
	}

	.dropdown {
		display: none;
	}
}

.nav-link {
	color: #463f3a;
	list-style-type: none;
	text-decoration: none;
	justify-content: space-between;
	display: inline-block;
	padding: 1%;
}

.nav-link:hover {
	text-decoration: underline;
}

/* DROPDOWN MENU */

button {
	border: none;
}

.dropbtn {
	border: none;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f1f1f1;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	right: 0;
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

main {
	margin: 0 10%;
}

.profile-pic {
	border-radius: 50%;
}

a {
	color: white;
}

.icons {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
}

.top {
	text-align: center;
	grid-row: 1;
	grid-column: 2;
	text-align: center;
}

.cred {
	grid-row: 3;
	grid-column: 3;
	text-align: right;
	padding-right: 3%;
}

footer {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #463f3a;
	color: white;
	height: 8%;
	align-items: center;
}
