@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Open+Sans+Condensed:wght@300&display=swap');

body {
	font-family: 'Open Sans Condensed', sans-serif;
	background-color: #f4f3ee;
	margin: 0;
	color: #463f3a;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 5em 20em;
}

h2 {
	grid-column: 1;
	justify-self: start;
}

nav {
	grid-column: 2;
	justify-self: end;
	width: 50%;
}

ul {
	display: none;
}

.nav-link {
	color: #463f3a;
	list-style-type: none;
	text-decoration: none;
	justify-content: space-between;
	display: inline-block;
	padding: 1%;
}

.nav-link:hover {
	text-decoration: underline;
}

/* DROPDOWN MENU */

button {
	border: none;
}

.dropbtn {
	border: none;
}

.dropdown {
	margin-top: 20%;
}

.dropdown-content {
	display: none;
	min-width: 160px;
	overflow: auto;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}

.show {
	display: block;
}

main {
	margin: 0 10%;
}

.cartoon {
	width: 14em;
	border-radius: 50%;
	grid-column: 1;
	justify-self: center;
}

.pitch {
	justify-self: center;
	align-self: center;
}

a {
	color: white;
}

.icons {
	grid-row: 2;
	grid-column: 2;
	text-align: center;
}

.top {
	text-align: center;
	grid-row: 1;
	grid-column: 2;
	text-align: center;
}

.cred {
	grid-row: 3;
	grid-column: 3;
	text-align: right;
	padding-right: 3%;
}

footer {
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: #463f3a;
	color: white;
	height: 8%;
	align-items: center;
}

/* PORTFOLIO */

.portfolio {
	background-color: #14312a;
	padding: 3%;
	text-align: center;
	margin: 5% 0;
}

.title {
	color: #cd7e59;
	font-size: 3em;
	font-family: 'Homemade Apple', cursive;
	margin-top: -15%;
}

.direction {
	color: #c79625;
}

/* CARD */

.cards {
	display: grid;
}

img {
	width: 100%;
	max-height: 13em;
}

.front,
.back {
	backface-visibility: hidden;
	position: absolute;
	height: 100%;
	width: 100%;
	box-sizing: border-box;
	transition-delay: 0.15s;
	transition: 0;
}
.front {
	transform: rotateY(0deg);
}

.card-title {
	animation: slide-in-slow 0.75s;
	animation: slide-in-slow 0.75s cubic-bezier(0.625, 0.075, 0.11, 1.165);
	animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
	font-weight: 600;
	margin: 0;
	color: #cd7e59;
}

.devicon {
	color: #c79625;
	font-size: 3em;
}

.back {
	transform: rotateY(180deg);
	opacity: 0;
	backface-visibility: visible;
	background: #f4f3ee;
	color: #c79625;
	padding: 20px 20px;
}
.card {
	position: relative;
	display: inline-block;
	width: 22em;
	height: 25em;
	background: #f4f3ee;
	border-radius: 5px;
	box-shadow: 0 40px 110px rgba(0, 0, 0, 0.45);
	overflow: hidden;
	transition: 0.5s;
	transform-style: preserve-3d;
	margin: 2%;
}
.card:hover {
	transform: rotateY(180deg);
}

.card:hover .front {
	opacity: 0;
}
.card:hover .back {
	opacity: 1;
}
.synopsis {
	color: #cd7e59;
	font-size: 20px;
	font-weight: 600;
	margin: 0 0 15px;
}
p {
	color: #463f3a;
	font-size: 19px;
	line-height: 1.5;
	margin: 0 0 35px;
}

.btn {
	border: 1px solid #cd7e59;
	border-radius: 5px;
	background: transparent;
	display: inline-block;
	font-size: 17px;
	padding: 8px 20px 9px 15px;
	color: #cd7e59;
	transition: 0.5s;
	margin: 2px 2px;
	font-weight: 100;
}
.btn.secondary {
	border-color: #c79625;
	color: #c79625;
}
.btn.secondary:hover {
	color: white;
	background: #c79625;
}
.btn:hover {
	background: #cd7e59;
	color: white;
}
.image {
	animation: slide-in-right 1.25s;
	animation: slide-in-right 1.25s cubic-bezier(0.625, 0.075, 0.11, 1.165);
	animation-timing-function: cubic-bezier(0.625, 0.075, 0.11, 1.165);
	font-weight: 600;
	margin: 0;
}

/* CONTACT */

.contact {
	background-color: #d5b9b1;
	text-align: center;
}

.contact-icon {
	color: white;
	margin: 1%;
}

/* MEDIA QUERIES  */

@media only screen and (min-width: 800px) {
	ul {
		display: block;
	}

	.dropdown {
		display: none;
	}

	.cards {
		margin: 0 8%;
	}

	.title {
		margin-top: -6%;
	}

	.direction {
		visibility: hidden;
	}

	@keyframes slide-in {
		0% {
			transform: translate3d(-300px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes slide-in-slow {
		0% {
			transform: translate3d(-300px, 0, 0);
		}
		20% {
			transform: translate3d(-300px, 0, 0);
		}
		100% {
			transform: translate3d(0, 0, 0);
		}
	}
	@keyframes slide-in-right {
		0% {
			transform: translate3d(400px, 0, 0);
		}
		30% {
			transform: translate3d(400px, 0, 0);
			opacity: 0;
		}
		40% {
			opacity: 0;
		}
		100% {
			transform: translate3d(0, 0, 0);
			opacity: 1;
		}
	}

	.cartoon {
		width: 14em;
		border-radius: 50%;
		grid-column: 2;
		justify-self: center;
		align-self: center;
	}

	.pitch {
		justify-self: center;
		align-self: center;
	}
}
